<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
         <label for="flights">Рейс</label>
         <select id="flights" type="text" name="flights">
            {% for route in routes %}
               <option value="{{ route }}">{{ route }}</option>
            {% endfor  %}
         </select>
        <button class="form-button">
                  Подтвердить
        </button>
    </form>
</body>
</html>