<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        ul {list-style-type: none;}
        body {font-family: Verdana, sans-serif;}

        /* Month header */
        .month {
          padding: 70px 25px;
          width: 100%;
          background: #1abc9c;
          text-align: center;
        }

        /* Month list */
        .month ul {
          margin: 0;
          padding: 0;
        }

        .month ul li {
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 3px;
        }

        /* Previous button inside month header */
        .month .prev {
          float: left;
          padding-top: 10px;
        }

        /* Next button */
        .month .next {
          float: right;
          padding-top: 10px;
        }

        /* Weekdays (Mon-Sun) */
        .weekdays {
          margin: 0;
          padding: 10px 0;
          background-color:#ddd;
        }

        .weekdays li {
          display: inline-block;
          width: 13.6%;
          color: #666;
          text-align: center;
        }

        /* Days (1-31) */
        .days {
          padding: 10px 0;
          background: #eee;
          margin: 0;
        }

        .days li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 5px;
          font-size:12px;
          color: #777;
        }

        /* Highlight the "current" day */
        .days li .active {
          padding: 5px;
          background: #1abc9c;
          color: white !important
        }
    </style>
</head>
<body>
    <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>August-September<br>Low Price Calendar<br><span style="font-size:18px">2020</span></li>
        <li style="color: tomato;">
            {% if messages %}
              {% for message in messages %}
                 <p>
                     <h3>{{ message }}</h3>
                 </p>
              {% endfor %}
            {% endif %}
        </li>
      </ul>
    </div>
    <form method="POST">
        {% csrf_token %}
        <ul class="days">
            {% for item in data %}
                <li>
                    <p>Date: {{ item.dTime }}</p>
                    <p>Price: <strong>{{ item.price }}</strong>USD</p>
                </li>
                <input type="radio" option={{ item.dTime }} value={{ item.booking_token }} name="booking_token">
            {% endfor %}
        </ul>
        <div>
            <button type="submit">Show ticket</button>
        </div>
    </form>
</body>
</html>